/* Question 2 styling */
    /* .one,.two,.three{
        display: inline-block;
        width: 30%;
        height: 300px;
    } */

/* Question 4 styling */
    /* .image{
        width: 50%;
        height: 80vh;
        margin: 0 auto;
    }
    img{
        width: 80%;
        height: 100%;
    } */